/* All custom CSS used for Chat Web App that is common to both stylesheets */

#chat-window {
    height: 20em;
}

.table {
    margin-bottom: 0;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
}

body {
    background-size: cover;
}
