/* All custom CSS used for Chat Web App that is common to both stylesheets */

#chat-window {
    height: 20em;
    overflow: scroll;
}

.table-border {
    height: 20em;
    border: 0.2em solid #1B91AA;
}
